body {
    width: 1440px;
    height: 100%;
    background-color:  hsl(30, 38%, 92%);
    box-sizing: border-box;

}

p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
    max-width: 680px;
    height: 520px;
    position:absolute;
    top: 20%;
    left: 32%;
    display: flex;
    background-color: white;
    border-radius: 6px;
}

.image-roundup {
    width: 53%;
    background-image: url('img/image-product-desktop.jpg');
    background-size:cover;
    display: block;
}

.content-section {
    width: 47%;
    height: auto;
    margin: 20px;
    padding-right: 38px;
    padding-left:10px;
    padding-top: 20px;
}

.price-section {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-bottom: 30px;
}

h3.price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 40px;
    padding-right: 20px;
    letter-spacing: 2px;
    margin:0;
   
}

p.discounted-price {
    text-decoration:line-through;
}
/* Font Styles and stuff */
h1 {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    margin: 0;
    color: hsl(212, 21%, 14%);
    line-height: 38px;
    letter-spacing: 2px;
    padding-top: 20px;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 6px;
    font-size: 14px;
    margin: 0;
    color: hsl(228, 12%, 48%);
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 27px;
    font-size: 18px;
    color: hsl(228, 12%, 48%);

}

/* Button Section */
button {
    width: 100%;
    padding: 15px 27px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

button i {
    padding-right: 10px;
    
}

button:hover {
    background-color: hsl(158, 36%, 22%);
    cursor: pointer;
}


/* Media Queries - Responsiveness */

@media screen and (max-width: 375px) {
    
}