body {
    width: 1440px;
    height: 1080px;
    background-color:  hsl(30, 38%, 92%);
    box-sizing: border-box;

}

p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
    width: 760px;
    height: 580px;
    position:absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.image-roundup {
    width: 25em;
    background-image: url('img/image-product-desktop.jpg');
    background-size:cover;
    display: block;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.content-section {
    width: 47%;
    height: auto;
    margin: 20px;
    padding-right: 10px;
    padding-left:10px;
    padding-top: 20px;
}

.price-section {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-bottom: 20px;
}

h3.price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 40px;
    padding-right: 20px;
    letter-spacing: 2px;
    margin:0;
   
}

p.discounted-price {
    text-decoration:line-through;
}
/* Font Styles and stuff */
h1 {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    margin: 0;
    color: hsl(212, 21%, 14%);
    line-height: 38px;
    letter-spacing: 2px;
    padding-top: 20px;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 6px;
    font-size: 14px;
    margin: 0;
    color: hsl(228, 12%, 48%);
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 27px;
    font-size: 18px;
    color: hsl(228, 12%, 48%);
    margin-top:32px;

}

/* Button Section */
button {
    width: 100%;
    padding: 25px 27px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 7px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

button i {
    padding-right: 10px;
    
}

button:hover {
    background-color: hsl(158, 36%, 22%);
    cursor: pointer;
}


/* Media Queries - Responsiveness */

@media screen and (max-width: 375px) {
    body {
        width: 375px;
        height: auto;
    }
    
    .content-wrapper {
        margin-top: 25px;
        margin-left:10px;
        margin-right:10px;
        height: auto;
        top:0;
        left:0;
        right: 0;
        flex-direction: column;
        border-radius: 10px;
    }

    .content-section {
        width: 85%;
        height: auto;
        margin-left: 15px;
        margin-top:10px;
        /* padding-right: 38px; */
        padding-left: 8px;
        padding-top: 20px;
    }

    .image-roundup {
        height: 17em;
        width: 100%;
        background-image: url("./img/image-product-mobile.jpg");
        background-size: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

   h1 {
        font-family: 'Fraunces', serif;
        font-size: 28px;
        color: hsl(212, 21%, 14%);
        line-height: 30px;
        padding-top: 20px;
    }

    .content-text p {
        font-size: 14px;
    }

    .price-section {
        padding-bottom: 7px;
    }

    .price-section h3 {
        font-size: 32px;
    }
}